.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(46, 49, 65, 0.8);;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  text-align: center;
}

.dropdown-content a {
  color: #fff;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: rgba(0,0,0,0.2)}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}

#loginOverlay{
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 49, 65, 0.8);
  z-index: 2;
  cursor: pointer;
}

#userOverlay{
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 49, 65, 0.8);
  z-index: 2;
  cursor: pointer;
}

#signinOverlay{
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 49, 65, 0.8);
  z-index: 2;
  cursor: pointer;
}

#text{
  position: absolute;
  top: 40%;
  left: 50%;
  color: white;
  background-color: rgb(31, 41, 105);
  padding: 10% 20%;
  margin-top: 10%;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  text-decoration: none;
  -moz-transition: background-color 0.2s ease-in-out;
  -webkit-transition: background-color 0.2s ease-in-out;
  -ms-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
  border-radius: 5px;
  box-shadow: inset 0 0 0 5px rgba(255, 255, 255, 0.125);
  padding: 1em 1.35em;
  text-align: center;
}

#text input, #text button{
  margin: 2px;
  padding-left: 2px;
  padding-right: 2px;  
}
